button {
    background-color: #4CAF50;
    border: none;
    color: #FFFFFF;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#inner {
    display: table;
    margin: 0 auto;
}

#encode {
    margin-right: 5px;
}

#decode {
    margin-left: 5px;
}

textarea {
    display: block;
    resize: vertical;
    max-height: 200px;
}

#outer {
    margin-top: 5px;
    margin-bottom: 5px;
}